:root {
  --neon: #ff0000;
  --bg: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

body {
  background: radial-gradient(circle at top, #0a200e, var(--bg));
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
}

/* NAV */
nav {
  position: fixed;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  z-index: 10;
}

nav h1 {
  color: var(--neon);
  letter-spacing: 3px;
}

nav a {
  color: rgb(255, 255, 255);
  margin-left: 30px;
  text-decoration: none;
  opacity: 0.7;
}


nav a:hover {
  opacity: 1;
  color: var(--neon);
}


/* HERO */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.hero h2 {
  font-size: 3.5rem;
  animation: glow 2s infinite alternate;
}

.hero p {
  margin-top: 20px;
  opacity: 0.8;
  margin-bottom: 1.5rem;  /* jarak bawah antar paragraf */
  line-height: 1.8;    
}

button {
  margin-top: 40px;
  padding: 15px 40px;
  background: transparent;
  border: 2px solid var(--neon);
  color: var(--neon);
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: var(--neon);
  color: black;
  box-shadow: 0 0 30px var(--neon);
}

/* SECTION */
section {
  padding: 120px 80px;
}

.card {
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(255, 8, 0, 0.1);
}
.container-flex {
  display: flex;
  justify-content: center; /* Membuat kartu berada di tengah secara horizontal */
  gap: 20px;               /* Memberi jarak antar kartu */
  flex-wrap: wrap;         /* Supaya kalau di HP, kartu otomatis turun ke bawah */
  padding: 20px;
}
.img-card {
  width: 100%;       /* Lebar gambar mengikuti lebar kartu */
  height: 150px;     /* Atur tinggi gambar sesuai keinginan */
  object-fit: cover; /* Biar gambar terpotong rapi (tidak gepeng) */
  border-radius: 8px; /* Biar sudut gambar agak bulat, serasi dengan kartu */
  margin-bottom: 10px; /* Jarak antara gambar dan teks di bawahnya */
}

.btn-center {
  text-align: center;
}

/* ANIMATION */
@keyframes glow {
  from { text-shadow: 0 0 10px var(--neon); }
  to { text-shadow: 0 0 40px var(--neon); }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  nav { padding: 20px; }
  .hero h2 { font-size: 2.2rem; }
}